<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kun.moduleb">

    <application>
        <activity
            android:name=".btest.BTestActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>